// colors
$primary: #000000;
$primary_black: white;
$bg: white;
$bg_black: rgb(68, 67, 67);
$title_hero: rgba(0, 0, 0, 0.6);
$secondary: #ffffff;
$button: #F1B8D2;
$bg_primary: linear-gradient(252.34deg, rgba(241, 184, 210, 0.74) -4.03%, rgba(149, 187, 233, 0.79) 112.41%);

// fonts
$main-font: 'Inter', sans-serif;
$main-font-weight: 400;

//  animation
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

// form input elements
$input_label_text_color: #979797;
$input_border_color: #e5eafb;
$input_border_active: #9ab1ff;
$input_border_error: #ff8181;
