<section class="portfolio">
  <div><a href="#up" class="anchor link">Up!</a></div>
  <div class="portfolio__container container">
    <div class="portfolio__wrapper">
      <h2 class="portfolio__title">My projects:</h2>
      <ul>
        <li>
          <a href="#front"><p>Front-End</p></a>
        </li>
        <li>
          <a href="#full"><p>Full-Stack</p></a>
        </li>
        <li>
          <a href="#back"><p>Back-End</p></a>
        </li>
      </ul>
    </div>
    <ul class="portfolio__list">
      <li>
        <h3 class="portfolio__list--title-main" id="front">Front-End</h3>
        <h4 class="portfolio__list--title">Volunteering:</h4>
        <ul>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Go-volunteer</p>
            <p class="intro">
              I developed a responsive and adaptive site for volunteers.
              <span id="show-more" onclick="toggleText()" class="more-button">
                Read more
              </span>
            </p>
            <p class="more-text">
              Collaborated closely with developers, designers, QA and PM. We
              used SASS, Parcel, Git, WordPress, BEM and SCRUM methodologies.
              The goal of this project was to help Ukrainian volunteers and
              non-profit organizations to fill in their financial documentation
              correctly and guide them on conducting their activity following
              Ukrainian law.
            </p>

            <p>
              <b>Technology stack:</b> JavaScript, HTML, CSS, CSS Grid Layout,
              Adaptive/Responsive design, SASS, Parcel, WordPress, GIT.
            </p>
            <img src="./images/volunteer.jpg" alt="go-volunteer" />
            <div class="portfolio__list--project-links">
              <a
                href="https://www.go-volonteer.in.ua/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
            </div>
          </li>
        </ul>

        <h4 class="portfolio__list--title">Individual projects:</h4>
        <ul>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Phonebook</p>
            <p>
              Phonebook is an app in which you can store an unlimited number of
              contacts. There is a check for contact duplication in this app.
            </p>
            <p>
              <b>Technology stack:</b> React, Redux Toolkit, HTML, СSS,
              JavaScript, Adaptive/Responsive design, REST API, GIT.
            </p>
            <img src="./images/phone.jpg" alt="phone" />
            <div class="portfolio__list--project-links">
              <a
                href="https://aniyavolfman.github.io/goit-react-hw-08-phonebook/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
              <a
                href="https://github.com/aniyavolfman/goit-react-hw-08-phonebook"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Search images</p>
            <p>
              A site for searching and loading images by query. With pagination.
              With information about each image such as amount of likes, views,
              comments etc. With the possibility of flipping slides in the
              gallery.
            </p>
            <p>
              <b>Technology stack:</b> HTML, CSS, JavaScript, Parcel, REST API,
              GIT.SS, JavaScript, Adaptive/Responsive design, REST API, GIT.
            </p>
            <img src="./images/image.jpg" alt="image" />
            <div class="portfolio__list--project-links">
              <a
                href="https://aniyavolfman.github.io/search-images/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
              <a
                href="https://github.com/aniyavolfman/search-images"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Web Studio</p>
            <p>
              A site for a web studio in Kyiv. Adapted to any device, starting
              with a 320px screen width. There are 3 pages with information
              about WEB Studio, portfolio and contacts.
            </p>
            <p><b>Technology stack:</b> HTML, SASS, JavaScript.</p>
            <img src="./images/studio.jpg" alt="studio" />
            <div class="portfolio__list--project-links">
              <a
                href="https://aniyavolfman.github.io/goit-markup-hw-08/index.html"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
              <a
                href="https://github.com/aniyavolfman/goit-markup-hw-08"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
        </ul>
        <h4 class="portfolio__list--title">Team projects:</h4>
        <ul>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">SlimMom</p>
            <p>
              SlimMom is a calorie app that includes a food diary and a
              nutrition database. In this project I was the Team Lead of a team
              of 9 developers. Also, as a Front-End developer, I was responsible
              for API, displaying the calorie norm and not recommended products,
              markup of the Calculator page.
            </p>
            <p>
              <b>Technology stack:</b> React, Redux Toolkit, HTML, SASS,
              JavaScript, Adaptive/Responsive design, REST API, GIT.
            </p>
            <img src="./images/slimmom.jpg" alt="slimmom" />
            <div class="portfolio__list--project-links">
              <a
                href="https://aniyavolfman.github.io/health-app-project/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
              <a
                href="https://github.com/aniyavolfman/health-app-project"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Filmoteka</p>
            <p>
              A site for searching films. In this team project I was responsible
              for loading popular movies to the main page, searching and loading
              films by query, pagination on the main page and library.
            </p>
            <p>
              <b>Technology stack:</b> HTML, SASS, JavaScript, Parcel,
              Adaptive/Responsive design, REST API, GIT.
            </p>
            <img src="./images/cinema.jpg" alt="cinema" />
            <div class="portfolio__list--project-links">
              <a
                href="https://aniyavolfman.github.io/filmoteka/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
              <a
                href="https://github.com/aniyavolfman/filmoteka"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Ice Cream</p>
            <p>
              А site for an ice cream shop. Adapted to any device, starting with
              a 320px screen width. In this team project I was responsible for
              Products section (product catalog with adaptive/responsive design,
              retina, modal window with detailed information and application
              form).
            </p>
            <p>
              <b>Technology stack:</b> Technology stack: HTML, SASS, JavaScript,
              Parcel.
            </p>
            <img src="./images/ice.jpg" alt="ice" />
            <div class="portfolio__list--project-links">
              <a
                href="https://aniyavolfman.github.io/team-project-scss/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
              <a
                href="https://github.com/aniyavolfman/team-project-scss"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
        </ul>
      </li>
      <li class="portfolio__list--back">
        <h3 class="portfolio__list--title-main" id="full">Full-Stack</h3>
        <h4 class="portfolio__list--title">Commercial projects:</h4>
        <ul>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Berezovska portraits</p>
            <p class="intro">
              A website for an artist made with Next.js 13 and Strapi. It allows
              the administrator to edit content (including paintings in the
              gallery, text, contact information, links to social networks,
              etc.), and send forms from clients by e-mail. Includes light and
              dark themes, and Ukrainian and English localizations. It is
              optimized to work on different devices, browsers, IOS and Android.
            </p>
            <p>
              <b>Technology stack:</b> JavaScript, SCSS, Next.js 13, Node.js,
              React, Strapi, REST API, GIT, Cross-browser layout,
              Adaptive/Responsive, Localization, Switch of the theme.
            </p>
            <img src="./images/berezovska.png" alt="berezovska" />
            <div class="portfolio__list--project-links">
              <a
                href="https://drive.google.com/file/d/1J3dA9HnsjY-d2sdWtvsHuMF5fbMrEp9e/view?usp=sharing"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
            </div>
          </li>
        </ul>
        <h4 class="portfolio__list--title">Individual projects:</h4>
        <ul>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Promptopia</p>

            <p class="intro">
              Promptopia is an open-source AI prompting full-stack tool for the
              modern world. It provides users with the ability to discover,
              create, and share creative prompts to inspire their writing,
              brainstorming sessions, and creative projects. Uses tailwindcss
              for styling.
              <span id="show-more2" onclick="toggleText2()" class="more-button">
                Read more
              </span>
            </p>
            <p class="more-text2">
              Contains Authentication with Google. Once logged in, users can
              create new prompts, edit existing ones, or delete prompts. Each
              user has their own profile page where they can showcase their
              created prompts. The main page of Promptopia allows users to
              search for prompts using keywords, tags, or usernames. A handy
              button allows users to copy the text of a prompt with a single
              click.
            </p>
            <p>
              <b>Technology stack:</b> JavaScript, Next.js 13, Node.js, React,
              MongoDB, CORS, Mongoose, Tailwindcss, REST API, GIT.
            </p>
            <img src="./images/promptopia.jpg" alt="promptopia" />
            <div class="portfolio__list--project-links">
              <a
                href="https://promptopia-eight-sigma.vercel.app/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--pink"
                >See project</a
              >
              <a
                href="https://github.com/aniyavolfman/promptopia"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
        </ul>
        <h3 class="portfolio__list--title-main" id="back">Back-End</h3>
        <h4 class="portfolio__list--title">Individual projects:</h4>
        <ul>
          <li class="portfolio__list--project-list">
            <p class="portfolio__list--project">Contact Management App</p>
            <p class="intro">
              This is a Node.js application for managing a list of contacts. It
              uses the MongoDB database to store the contacts data and provides
              RESTful API endpoints to perform CRUD operations.
              <span id="show-more3" onclick="toggleText3()" class="more-button">
                Read more
              </span>
            </p>
            <p class="more-text3">
              This app allows users to create an account, verify their identity,
              and add a profile picture. Once logged in, users can add, delete,
              and update their contacts, including information such as name,
              phone number, and email address. This application is built using
              the popular Node.js web framework, Express, and uses MongoDB as
              its primary database. Additionally, the app utilizes the
              Cross-Origin Resource Sharing (CORS) middleware to enable secure
              communication between the client and server. The app also
              incorporates Mongoose, an Object Data Modeling (ODM) library, to
              provide an easy-to-use interface for working with MongoDB data.
              Nodemailer is used for sending email verification. Overall, this
              Node.js application provides a simple, efficient, and secure way
              to manage contacts, making it an excellent tool for personal or
              business use.
            </p>
            <p>
              <b>Technology stack:</b> JavaScript, Node.js, Express, MongoDB,
              CORS, Mongoose, REST API, GIT.
            </p>

            <div class="portfolio__list--project-links">
              <a
                href="https://github.com/aniyavolfman/nodejs-rest-api-contacts"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="portfolio__button button button--white"
                >See GitHub</a
              >
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="moving-square"></div>
</section>
