.footer {
  margin-bottom: 20px;
  & > .footer_container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.footer__list--links {
  display: flex;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__text {
  font-size: 12px;
  text-align: right;
  @include tablet {
    text-align: left;
  }
}
