.portfolio__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.portfolio__title {
  color: $title_hero;
  margin-left: 10px;
}

.portfolio__list {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
  & li {
    padding: 20px;
    background: $secondary;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    flex-basis: calc((100% - 20px) / 2);
    transition: all cubic-bezier (0.4, 0, 0.2, 1) 0.3s;
  }

  & li:hover {
    box-shadow: 1px 4px 20px -2px #0003;
    transform: translateY(-2px);
  }
}

h3.portfolio__list--title-main {
  text-align: center;
  animation: colorChange 3s infinite;
  color: #fff;
}

@keyframes colorChange {
  0% {
    color: #f1b8d2;
  }
  50% {
    color: aqua;
  }

  100% {
    color: rgb(154, 85, 140);
  }
}

.portfolio__list--title {
  margin-bottom: 20px;
  margin-top: 20px;
}

.portfolio__list--project-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.portfolio__list--project {
  color: $button;
  align-self: center;
  margin-bottom: 10px;
  font-weight: 800;
}

.portfolio__list--project-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    gap: 0;
  }
}

.portfolio__button {
  max-width: 100px;
}

.anchor {
  display: none;
}
@media screen and (min-width: 768px) {
  .anchor {
    z-index: 3;
    position: fixed;
    display: flex;
    right: 30px;
    bottom: 30px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #f1b8d2;
    letter-spacing: 0.06em;
    line-height: 1.88;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .anchor:hover,
  .anchor:focus {
    background-color: #f1b8d2;
    border: 1px solid #fff;
  }
}

li.portfolio__list--back {
  background-image: url(../images/Group1.svg);
  background-repeat: no-repeat;
  background-position: 50% 98%;
}

.background {
  position: relative;
  z-index: 1;
}

.moving-square {
  z-index: 0.5;
  width: 150px;
  height: 150px;
  background-color: transparent;
  position: absolute;
  animation: moveSquare 40s infinite;
  border: 4px solid #f1b8d2;
  border-radius: 20px;
}

@include desktop {
  @keyframes moveSquare {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      right: 0;
      top: 100px;
    }
    50% {
      right: 200px;
      bottom: 0;
    }
    75% {
      left: 200px;
      top: 400px;
    }
    100% {
      left: 0;
      top: 0;
    }
  }
}
